@use "./pages/header"  as *;
@use "./pages/section"  as *;
:root{
  --mainColor: #7562e0;
  --mainColorTransparncy: #7562e030;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body{
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
.pointer{
  cursor: pointer;
}